verl.zip
verl/.github/workflows/e2e_spin.yml
src_jijivski/data/ultra_train/
verl/save_data/
verl/final_data/
verl/save_data_grpo_edit/
verl/save_data_grpo_test2/
verl/save_data_ppo_edit_test/
verl/save_data_ppo_edit/
verl/save_data_ppo_mistral_wedit/
verl/save_data_ppo_test2/
src_jijivski/logs/alpaca_eval/*.json
src_jijivski/logs/alpaca_eval/annotations.json
verl/save_data*
src_jijivski/logs/Z*
LLaMA-Factory-main.zip
verl/Z*
LLaMA-Factory/save/dpo/
# LLaMA-Factory/data/*.json
verl/output/
verl/comparison_results/comparison_eval_*
verl/reset_tmp/actor_state_mid
verl/reset_tmp/actor_state_mid_sft/
verl/reset_tmp/actor_state_mid_sft_rollout5_kl0_freq41/
verl/reset_tmp/
src_jijivski/checkpoints
verl/.envrc
verl/examples/ppo_trainer/persona_prms/Z*
src_jijivski/merges/configs
src_jijivski/deploy/deploy_log.log
src_jijivski/analyse/edit_improvement/figs/results.pkl
LLaMA-Factory/save/sft/
src_jijivski/draft/c1.txt
src_jijivski/draft/c2.txt
src_jijivski/data/sft/V7_V4_alpaca_v1.json
src_jijivski/analyse/edit_improvement/*/*/*/*.pkl
src_jijivski/analyse/edit_improvement/figs/*.pkl
eval/alpaca_eval_minimal/annotations.json
# src_jijivski/draft/rebuttle/compare/
# src_jijivski/draft/stability_logs/length/detail*
# src_jijivski/draft/stability_logs/length_control/*/*
src_jijivski/draft/stability_logs/
eval/judge_results/
# 0816 ch added
eval/generate_data_300/
eval/alpaca_persona_logs/
eval/alpaca_persona/
eval/alpaca_800/
eval/comparison_data_60/
src_jijivski/analyse/edit_improvement/bin5/
src_jijivski/analyse/edit_improvement/bin10/
src_jijivski/analyse/edit_improvement/bin25/
src_jijivski/analyse/edit_improvement/*.png
src_jijivski/analyse/edit_improvement/linear/
src_jijivski/analyse/edit_improvement/bin15/
!src_jijivski/analyse/edit_improvement/bin15/x_intercept_comparison_binned_smooth_100%.png
eval/generate_data_60/
eval/response_bug_fix_3_trans/
eval/mem/
src_jijivski/draft/leecode/
eval/alpaca_eval/src/alpaca_eval/evaluators_configs/weighted_alpaca_eval_gpt4o/annotations_seed0_configs.json_0915
eval/alpaca_eval_minimal/new_evals_0917/bk_data/
eval/alpaca_eval_minimal/gpt4_1_mini_step*
eval/alpaca_eval_minimal/gpt4_1_step*
annotations.json
verl/fd.zip
verl/examples/ppo_trainer/persona_prms/0920_formal_group_reward_low/*.flag
git_backup.zip
.DS_Store
git_backup_1004.zip
eval/alpaca_eval/data/Z*
git*.zip
